<app-barra-de-navegacao></app-barra-de-navegacao>
<div class="container"><br><br><br><br><br><br>
    <h1>Novo Emprestimo</h1>
    <form [formGroup]="formEmprestimo">

            <mat-form-field appearance="fill" class="cc">
                <mat-label>Titulo do Livro</mat-label>
                <mat-select matNativeControl formControlName="livro">
                    <mat-option *ngFor="let livro of livros" [value]="livro">{{livro.titulo}}</mat-option>
                </mat-select>
            </mat-form-field>   

            <div class="double-width">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nome do Leitor</mat-label>
                    <input type="text" matInput placeholder="nomeLeitor" formControlName="nomeLeitor">
                </mat-form-field>

            <!-- <mat-form-field appearance="fill" class="jj">
                <mat-label>Data do Emprestimo</mat-label>
                <input matInput [matDatepicker]="picker3" [value]="date.value" disabled formControlName="dataEmprestimo">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>-->
            </div> 

            <div class="double-width">
                <mat-form-field appearance="fill" class="bb">
                    <mat-label>Status do Emprestimo</mat-label>
                    <select matNativeControl required formControlName="statusEmprestimo">
                        <option value="pendente">Pendente</option>
                        <option value="devolvido">Devolvido</option>
                    </select>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input type="tel" matInput placeholder="telefone" formControlName="telefone">
                </mat-form-field>

            </div>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email do Leitor</mat-label>
                <input type="email" matInput placeholder="email" formControlName="email">
            </mat-form-field>

            <div class="double-width">
                <button class="full-width btn-enviar" mat-raised-button (click)="addEmprestimo()">Fazer
                    Emprestimo</button>
                <button class="full-width btn-cancelar" mat-raised-button routerLink="/emprestimo">Cancelar</button>
            </div>


    </form>
</div>